.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.input-string {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    padding: 0.5rem 1rem;
  }
}
button {
  padding: 0.5rem 1rem;
}
